{% extends 'products/base.html' %}
{% load static %}

{% block content %}
<div class="contaier">
<div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="10000">
      <img src="{% static 'images/cc.jpeg' %}" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h4>New items, New collection</h4>
        <p></p>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <img src="{% static 'images/ee.jpeg' %}" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h4>New items, New collection</h4>
        <p></p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="{% static 'images/rr.jpeg' %}" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h4>New items, New collection</h4>
        <p></p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
</div>
<div class="container">
  <div class="card-group">
  <div class="card">
    <a href="{% url 'products' %}">
    <img src="{% static 'images/mm.jpeg' %}" class="card-img-top" alt="...">
      </a>
  </div>
  <div class="card">
    <img src="{% static 'images/xx.jpeg' %}" class="card-img-top" alt="...">
  </div>
  <div class="card">
    <img src="{% static 'images/zz.jpeg' %}" class="card-img-top" alt="...">
  </div>
</div>
</div>
{% endblock %}